POSTMAN_API_BASE_URL=https://api.getpostman.com
POSTMAN_SPEC_ID=adcb91b7-3678-4e0d-804f-f77434b1xxxx
POSTMAN_SPEC_FILE_PATH="postman/specs/Commerce-API/openapi.yml"
POSTMAN_COLLECTION_UID=20369626-00443b54-ba10-4bc7-b84a-c5f18502xxxx
POSTMAN_API_KEY=replace-with-postman-api-key
